/* styles.css */

/* 设置页面的基础字体和背景颜色 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* 定义导航栏品牌图标的样式 */
.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

/* 设置页眉背景图片和样式 */
header {
    background: url('../image_website/background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

/* 定义页脚的样式 */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

/* 设置主要内容部分的样式 */
.container {
    margin-top: 20px;
}

